<%= render "shared/hero" %>

<section class="section">
	<div class="container">
		<h1 class="title">Short overview</h1>
	  	<h2 class="subtitle">
	    	LicenseMatcher helps you identify unknown texts of FOSS licenses.
	  	</h2>

	  	<div class="columns">
	  		<div class="column is-three-quarters">
				<div class="content">

			      	<p>
			      		LicenseMatcher is simple webservice to demonstrate usage of the 
			      		<a href="https://github.com/Fosslim/license_matcher">license_matcher</a> gem.

			      		As user you just copy-paste your text into a webform and type your user token and after clicking 
			      		the "Enter" button, you will the results from various matching models;
			      	</p>

			      	<p>
			      		LicenseMatcher uses well-known algorithms from Information Retrieval to find best matches for your text.
			      		Some of these algorithms are using Word-of-Bag models, some uses fingerprints of NGrams and some take advantage
			      		of simple rules of probability;
			      	</p>

			      	<p>
			      		It currently ables to find a best match from <strong>360</strong> licenses registered on the lists of SPDX or Opensource.org.
			      		 
			      	</p>
				</div>
			</div>

			<div class="column is-auto">
				<div class="content bd-notification is-info">
					<img src="img/recall.png" />
				</div>
			</div> 
		</div>
	</div>

</section>