<% @example ||= "It could be APACHE 2.0 License here" %>

<%= form_tag( experiments_path, method: :post ) do %>
  <div class="field">
    <div class= "control">
      <%= text_area_tag(:lic_text, @example.to_s, class: "textarea") %>
    </div>
  </div>

  <div class="field">
    <label class="label">Client token - for now: demo1234 </label>
    <div class="control">
      <%= text_field_tag(:token, "", class: "input") %>
    </div>
  </div>

  <div class = "field">
    <div class = "control" >
      <%= submit_tag("Match", class: "button is-primary") %>
    </div>
  </div>

<% end %>
