<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>LicenseMatcher</strong> by <a href="https://www.versioneye.com/"> VersionEye </a>. The source code is licensed under the
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a> license. 
      </p>

      <p>
        <a class="icon" href="https://github.com/fosslim/lmweb">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>