<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        LicenseMatcher
      </h1>

      <h2 class="subtitle">
        Easiest way to identify unknown FOSS license
      </h2>


      <a class="button is-large is-danger pull-right" href="<%= new_experiment_path %>">
        <span class="icon">
          <i class="fa fa-github"></i>
        </span>
        <span>
          Try it now!
        </span>
      </a>

    </div>
  </div>
</section>