<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        LicenseMatcher
      </h1>

      <h2 class="subtitle">
        Identify FOSS license text with SPDX ID.
      </h2>
    </div>
  </div>
</section>