<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="http://www.licensematcher.com">
      <span class="icon">
        <i class="fa fa-wpexplorer" aria-hidden="true"></i>
      </span>
      <span> LicenseMatcher </span>
    </a>
    <button class="button navbar-burger">
    <span></span>
    <span></span>
    <span></span>
    </button>
  </div>
  <div class="navbar-end">
    <!-- navbar items -->
    <div class="navbar-item">
      <div class="field is-grouped">
        <p class="control">
          <a class="button" href="https://twitter.com/timgluz">
            <span class="icon">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </span>
            <span>Feedback</span>
          </a>
        </p>
        <p class="control">
          <a class="button is-primary" href="https://github.com/Fosslim/license_matcher">
            <span class="icon">
              <i class="fa fa-download" aria-hidden="true"></i>
            </span>
            <span>Download</span>
          </a>
        </p>
      </div>
    </div>
  </div>

</nav>
